html{
    font-family: 'Roboto';
}

header{
    display: inline;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    font-family: 'Roboto';
    padding-top: 15px;
    padding-bottom: 10px;
}

header div:nth-child(1){
    padding-right: 4px;
    display: inline-flex;
    float: left;
}

header div:nth-child(1) > h2:nth-child(2){
    padding-left: 4px;
    color: rgb(61, 216, 100);
}

header div:nth-child(2){
    color: rgb(61, 216, 100);
    float: right;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

header div:nth-child(2) > img{
    margin: auto;
    width: 36px;
    color: black;
    height: 36px;
}

body{
    margin: 0%;
    display: flex;
    flex-direction: column;
}


.presentation{
    position: relative;
    text-align: center;
    color: white;
    justify-content: center;
}

.presentation > img{
    width: 100%;
    height: 400px;
}

.presentation > h1{
    position: absolute;
    top: 15%;
    left: 9%;
}

.presentation > h2{
    left: 9.5%;
    font-weight: normal;
    position: absolute;
    top: 35%;
}

.presentation > h3{
    right: 10%;
    top: 40%;
    font-weight: lighter;
    width: 50%;
    position: absolute;
}

.presentation > button{
    width: 11%;
    position: absolute;
    top: 68%;
    left: 10%;
}

.features{
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.features > header{
    margin-top: 10px;
    margin-bottom: 35px;
    text-align: center;
}

.features_content{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.features_content > article{
    display: flex;
    flex-direction: column;   
    margin-left: 6%;
    margin-right: 6%;
}

.features_content > * > h3{
    margin-bottom: 20px;
}

.features_content > * > img{
    margin-inline: auto;
    width: 64px;
    height: 64px;
    margin-bottom: 25px;
}

.interpage{
    height: 100px;
    background-color: #111111;
}

.geolocation{
    padding: 5%;
}

.geolocation_content{
    
    display: flex;
    flex-direction: row;
    height: 650px;
    
}

.share_panel{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 5%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100%;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    
    
}

.share_panel > h1{
    font-weight: lighter;
    font-size: calc(10px + 2.2vw);
    height: 15%;
}

.share_panel > label{
    text-align: left;
    width: 90%;
    font-size: 20px;
    margin-left: 10%;
    justify-content: center;
    height: 10%;
    border-radius: 20px;
}

.share_panel > input{
    height: 10%;
    width: 80%;
    margin-left: 10%;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border: 0.5px solid #f0eaea;
}

.share_panel > button{
    background-color: rgb(34, 34, 34);
    width: 60%;
    height: 10%;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    margin-top: 10%;
    border-radius: 14px;
}

.google_map{
    width: 65%;
    height: 100%;
}

.messaging_container{
    min-height: 700px;
    padding: 5%;
}

.messaging_content{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.messaging_header{
    width: 100%;
    height: fit-content;
    text-align: center;
}

.messages{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.message{
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    background-color: rgba(211, 211, 211, 0.603);
}

.message_img{
    height: 64px;
    width: 64px;
    float: left;
}

.message_info{
    margin-left: 20px;
    height: 64px;
    float: left;
    display: flex;
    flex-direction: column;
}

.message_accept_button{
    border: 0;
    border-radius: 10px;
    background-color: rgb(24, 24, 24);
    color: white;
    height: 64px;
    width: 100px;
    text-align: center;
    float: right;
}

.message_reject_button{
    border: 0;
    border-radius: 10px;
    background-color: rgb(24, 24, 24);
    color: white;
    height: 64px;
    width: 100px;
    text-align: center;
    float: right;
    margin-right: 20px;
}

.message_space{
    height: 40px;
}

footer{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-inline: 20%;
    text-align: center;
    background-color: black;
    color: white;
}

footer > * > a{
    color: white;
}

a{
    text-decoration: none;
}